@import "@repo/ui/styles.css";

@import "tailwindcss";
@import "@repo/tailwind-config";
@import "tw-animate-css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
